#result-js, #result-ruby, #result-python {
  display: none;
}

.btn {
  display: block;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.modal-body {
  text-align: center;
  color: white;
  background-color: rgba(40, 100, 80, 0.5);
}

.modal-title {
  color: rgba(40, 100, 80, 0.5);
}
.container {
  background-color: rgba(40, 100, 80, 0.5);
}

h1 {
  text-align: center;
  font-weight: bold;
  color: white;
}

p, label {
  color: white;
}
