#result-js, #result-ruby, #result-python {
  display: none;
}

.btn {
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container-results {
  text-align: center;
}
